@import '../media.scss';

.socials-list {

  &__item {
    margin-right: rem(20px);
    &:last-child {
      margin-right: 0;
    }
    @include tablets {
      margin-right: rem(20px);
    }
  }
  &__link {
    display: inline-block;

    &-item {
      width: rem(20px);
      height: rem(20px);
      fill: #fff;
      @include desktop {
        &:hover {
          fill: red;
        }
      }
    }
    &-item_size {
      width: rem(23px);
      height: rem(23px);
    }
  }
}