@import 'media';

.benefits {
  width: 100%;
  min-height: 100%;
  padding: rem(40px) 0 rem(19px) 0;
  overflow: hidden;
  background-color: #ffffff;
  @include vertical {
    padding: rem(35px) 0 rem(19px) 0;
  }
  @include tablets {
    min-height: 95vh;
    padding: rem(125px) 0 rem(19px) 0;
  }
  @include laptops {
    padding: rem(105px) 0 rem(24px) 0;
    min-height: 100vh;
  }
  @include laptopsMDPI {
    padding: 7% 0 1.5% 0;
  }
  &-container {
    position: relative;
    max-width: 100%;
    min-height: 100%;

    margin: 0 auto;
    @include vertical {
    }
    @include tablets {
      width: rem(704px);
      max-width: rem(704px);
      margin: 0 auto;
    }
    @include laptops {
      width: rem(960px);
      max-width: rem(960px);
      margin: 0 auto;
    }
    @include laptopsMDPI {
      width: rem(1140px);
      max-width: rem(1140px);
      margin: 0 auto;
      padding: 0;
    }
  }

  &-title {
    padding: 0 rem(30px);
    margin-bottom: rem(23px);
    @include vertical {
      padding: 0 rem(45px);
    }
    @include tablets {
      padding: 0 14%;
      margin-bottom: rem(39px);
    }
    @include laptops {
      padding: 0 28%;
      margin-bottom: rem(40px);
    }
    @include laptopsMDPI {
      padding: 0 30%;
    }
    @include laptopsHDPI {
      padding: 0 25%;
    }
    @include desktop {
      padding: 0 27%;
    }
  }
  &-text {
    padding: 0 5%;
    margin-bottom: rem(64px);
    @include vertical {
      padding: 0 8%;
    }
    @include tablets {
      padding: 0 10%;
    }
    @include laptops {
      padding: 0 21%;
    }
    @include laptopsMDPI {
      margin-bottom: rem(100px);
      padding: 0 18%;
    }
    @include desktop {
      padding: 0 14%;
    }
  }
}

.benefits-list {
  width: 100%;
  &__item {
    margin-bottom: rem(60px);
    @include tablets {
      margin-bottom: rem(80px);
    }
    @include laptopsMDPI {
      width: 80%;
      margin-bottom: rem(180px);
      padding: rem(80px) rem(30px) rem(96px) rem(40px);
      border-radius: rem(7px);
    }
    &_border_robot {
      @include laptopsMDPI {
        @include border-color($robot);
        @include border-right;
      }
    }

    &_border_satellite {
      @include laptopsMDPI {
        @include border-color($satellite);
        @include border-left;
      }
    }
    &_border_rocket {
      @include laptopsMDPI {
        @include border-color($rocket);
        @include border-right;
      }
    }
    &_border_train {
      @include laptopsMDPI {
        @include border-color($train);
        @include border-left;
      }
    }
    &_border_ufo {
      @include laptopsMDPI {
        @include border-color($ufo);
        @include border-right;
      }
    }
    &_border_one {
      @include laptopsMDPI {
        @include border-color($one);
        @include border-left;
      }
    }
  }
  &__title {
    font-size: rem(20px);
    font-weight: 500;
    color: #000;
    text-align: center;
    padding: 0 10%;
    margin-bottom: rem(30px);
    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 40%;
      padding-top: rem(30px);
      @include tablets {
        width: 45%;
      }
      @include laptopsMDPI {
        width: 25%;
        padding-top: rem(36px);
        margin-left: 0;
      }
    }
    @include vertical {
      padding: 0 19%;
    }
    @include tablets {
      font-size: rem(36px);
      letter-spacing: 1.7px;
      line-height: rem(47px);
      padding: 0 15%;
    }
    @include laptops {
      padding: 0 23%;
    }
    @include laptopsMDPI {
      font-size: rem(36px);
      font-weight: 600;
      letter-spacing: 1px;
      line-height: rem(50px);
      padding: 0 50% 0 4%;
      text-align: left;
      margin-bottom: rem(36px);
      padding: 0;
    }

    &_border_robot {
      @include laptopsMDPI {
      }
      &:after {
        border-bottom: rem(2px) solid $robot;
        @include tablets {
          border-bottom: rem(3px) solid $robot;
        }
        @include laptopsMDPI {
          border-bottom: rem(3px) solid $robot;
        }
      }
    }
    &_border_satellite {
      &:after {
        border-bottom: rem(2px) solid $satellite;
        @include tablets {
          border-bottom: rem(3px) solid $satellite;
        }
        @include laptopsMDPI {
          border-bottom: rem(4px) solid $satellite;
        }
      }
    }
    &_border_rocket {
      &:after {
        border-bottom: rem(2px) solid $rocket;
        @include tablets {
          border-bottom: rem(3px) solid $rocket;
        }
        @include laptopsMDPI {
          border-bottom: rem(4px) solid $rocket;
        }
      }
    }
    &_border_train {
      @include laptopsMDPI {
        padding-right: 12%;
      }
      &:after {
        border-bottom: rem(2px) solid $train;
        @include tablets {
          border-bottom: rem(3px) solid $train;
        }
        @include laptopsMDPI {
          border-bottom: rem(4px) solid $train;
        }
      }
    }
    &_border_ufo {
      &:after {
        border-bottom: rem(2px) solid $ufo;
        @include tablets {
          border-bottom: rem(3px) solid $ufo;
        }
        @include laptopsMDPI {
          border-bottom: rem(4px) solid $ufo;
        }
      }
    }
    &_border_one {
      &:after {
        border-bottom: rem(2px) solid $one;
        @include tablets {
          border-bottom: rem(3px) solid $one;
        }
        @include laptopsMDPI {
          border-bottom: rem(4px) solid $one;
        }
      }
    }
  }
  &__description {
    margin-bottom: rem(34px);
    @include laptopsMDPI {
      order: 1;
      margin-bottom: 0;
      width: 635px;
    }
  }
  &__text {
    padding: 0 7%;
    line-height: rem(25px);
    @include vertical {
      padding: 0 8%;
    }
    @include tablets {
      padding: 0 16%;
    }
    @include laptops {
      padding: 0 17%;
    }
    @include laptopsMDPI {
      max-width: rem(840px);
      order: 1;
      font-size: rem(18px);
      line-height: rem(30px);
      text-align: left;
      padding: 0;
    }
    &_padding_robot {
       @include laptopsMDPI {
         padding-right: 14%;
       }
    }
    &_padding_satellite {
      @include laptopsMDPI {
        padding-right: 8%;
      }
    }
    &_padding_rocket {
      @include laptopsMDPI {
        padding-right: 7%;
      }
    }
    &_padding_train {
      @include laptopsMDPI {
        padding-right: 5%;
      }
    }
    &_padding_ufo {
      @include laptopsMDPI {
        padding-right: 100px;
      }
    }
    &_padding_one{
      @include laptopsMDPI {
        padding-right: 7%;
      }
    }
  }
}