<section class="index"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutAlign.gt-md="start center">
  <div class="index-container"
    fxLayout="column"
    fxLayoutAlign="space-between center">
    <div class="index-description">
      <div class="index-title">
        <h2 class="block-title">BENEFITS OF</h2>
        <h2 class="block-title">NGX-RESTANGULAR</h2>
      </div>
      <div class="index-text">
        <div class="block-text">Use rich features for complex tasks
          Convenient when working on complex client-side tasks. Supports promises and observables, has clear structure and a long list of features.
        </div>
      </div>
    </div>
  </div>
</section>