// colors
$darkBlue: #373A85;
$border: #E1C857;
// resolutions
$desktop: 1280px;
$laptops: 960px;
$tablets: 600px;
$phones: 480px;
$vertical: 321px;

@function rem($px) {
  @return $px / 16px + 0rem;
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin laptops {
  @media screen and (min-width: $laptops)  {
    @content;
  }
}

@mixin tablets {
  @media screen and (min-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (min-width: $phones) {
    @content;
  }
}

@mixin vertical {
  @media screen and (min-width: $vertical)  {
    @content;
  }
}

@mixin border-right {
  background-repeat: no-repeat;
  background-size: 3px 100%, 30% 3px, 3px 30%, 100% 3px, calc(100% - 8px) calc(100% - 8px);
  background-position: left bottom, left bottom, right top, right top, 4px 4px;
  @include tablets {
    background-size: 4px 100%, 30% 4px, 4px 30%, 100% 4px, calc(100% - 8px) calc(100% - 8px);
  }
}

@mixin border-left {
  background-repeat: no-repeat;
  background-size: 3px 30%, 100% 3px, 3px 100%, 30% 3px, calc(100% - 8px) calc(100% - 8px);
  background-position: left top, left top, right bottom, right bottom, 4px 4px;
  @include tablets {
    background-size: 4px 30%, 100% 4px, 4px 100%, 30% 4px, calc(100% - 8px) calc(100% - 8px);
  }
}


@mixin home-titles-anim {
  transition-delay: .65s;
  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.215,0.61,0.355,1);
  animation: 1.5s cubic-bezier(0.215,0.61,0.355,1) 1s backwards home-titles-anim;
}