<nav class="top-nav" style="background-color: #3B98EA">
    <div class="container">
        <div class="nav-wrapper"><a class="page-title">Ng2-Restangularв</a></div>
    </div>
</nav>

<div class="container">
    <a href="#" data-activates="nav-mobile"
       class="button-collapse top-nav full hide-on-large-only">
        <i class="material-icons">menu</i>
    </a>
</div>


<div id="nav-mobile" class="side-nav fixed" style="margin-top: 64px;">
    <div class="tab" *ngFor="let itemsFirstLevel of menu">
        <input [id]="itemsFirstLevel.link" type="radio" [name]="itemsFirstLevel.inputName">
        <label class="waves-effect waves-light" [for]="itemsFirstLevel.link">
            <span>{{itemsFirstLevel.title}}</span>
        </label>
        <div class="tab-content two-level" *ngFor="let itemsTwoLevel of itemsFirstLevel.children">
            <div class="tab">
                <input [id]="itemsTwoLevel.link" type="radio" [name]="itemsTwoLevel.inputName">
                <label class="waves-effect waves-light" [for]="itemsTwoLevel.link">
                    <span>{{itemsTwoLevel.title}}</span>
                </label>
                <div class="tab-content two-level" *ngFor="let itemsThreeLevel of itemsTwoLevel.children">
                    <div class="tab">
                        <input [id]="itemsThreeLevel.link" type="radio" [name]="itemsThreeLevel.inputName">
                        <label class="waves-effect waves-light" [for]="itemsThreeLevel.link">
                            <span>{{itemsThreeLevel.title}}</span>
                        </label>
                        <div class="tab-content two-level" *ngFor="let itemsFourLevel of itemsThreeLevel.children">
                            <div class="tab">
                                <input [id]="itemsFourLevel.link" type="radio" [name]="itemsFourLevel.inputName">
                                <label class="waves-effect waves-light" [for]="itemsFourLevel.link">
                                    <span>{{itemsFourLevel.title}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>
