:host-context(html) html {
    background-color: #c50033;
}

nav {
    background: #c50033;
    /*margin-left: -8px;*/
}


.custom-burger-menu {
    cursor: pointer;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
}

footer {
    text-align: right;
    padding-left: 300px;
}

/*main {*/
    /*padding-left: 300px;*/
    /*margin-top: 66px;*/
/*}*/

/*pre {*/
    /*background: #E0E0E0;*/
    /*padding: 15px;*/
    /*border: 1px solid #BDBDBD;*/
    /*border-radius: 4px;*/
/*}*/

/*code {*/
    /*background: #E0E0E0;*/
/*}*/

/*h2, h3, h4, h5, h6 {*/
    /*font-weight: bold;*/
/*}*/

/*h3 {*/
    /*font-size: 2.4rem;*/
    /*border-bottom: 1px solid #eaecef;*/
/*}*/

/*h6 {*/
    /*font-size: 1.2rem;*/
/*}*/

/*.pl-k {*/
    /*color: #a71d5d;*/
/*}*/

/*.pl-smi, .pl-s .pl-s1 {*/
    /*color: #333;*/
/*}*/

/*.pl-s, .pl-pds, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sre, .pl-sr .pl-sra {*/
    /*color: #183691;*/
/*}*/

/*.pl-e, .pl-en {*/
    /*color: #795da3;*/
/*}*/

/*.pl-c {*/
    /*color: #969896;*/
/*}*/

/*.pl-c1, .pl-s .pl-v {*/
    /*color: #0086b3;*/
/*}*/

/*main ul:not(.browser-default) {*/
    /*padding-left: 20px;*/
    /*list-style-type: disc;*/
/*}*/

/*main ul:not(.browser-default) li {*/
    /*list-style-type: disc;*/
/*}*/


.custom-sidebar {
    width: 300px;
    position: fixed;
    z-index: 999;
    overflow-y: auto;
    height: calc(100vh - 60px);
    top: 64px;
    left: 0;
    transition: all .4s;
    background-color: #eeeeee;
}
.custom-sidebar.show {
    left: 0px;
}

@media only screen and (max-width: 992px) {
    .custom-sidebar {
        left: -300px;
    }
}


