<header>
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Stars on GitHub</a>
                <a data-activates="mobile-demo" class="custom-burger-menu hide-on-large-only button-collapse" (click)="sideBar()">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="top-nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="https://github.com/2muchcoffeecom/ng2-restangular" target="_blank">Download</a></li>
                    <li><a href="http://embed.plnkr.co/qozGPV2HowzmtKbC9a54/" target="_blank">Demo</a></li>
                </ul>
            </div>
        </div>
    </nav>
  <sidebar class="custom-sidebar z-depth-4" [ngClass]="{show: isSideBarShowen}"></sidebar>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="row">© Ngx-Restangular 2017</div>
  </div>
</footer>


