/*left sidebar*/

.logo {
    text-align: center;
    margin: 35px 0;
}

.logo img {
    width: 50%;
}
.tab {
    position: relative;
    width: 100%;
    color: #fff;
    overflow: hidden;
}

.tab svg {
    position: absolute;
    right: 5px;
    z-index: 5;
    top: 50%;
    margin-top: -12px;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    position: relative;
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    height: auto;
    line-height: 1.2;
    font-size: 1rem;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[type="radio"]:checked + label:before {
    border: none;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

label {
    color: white;
    position: relative;
    display: block !important;
    padding: 0 0 0 1em;
    background: #df0037;
    line-height: 2;
    margin-bottom: 1px;
    cursor: pointer;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.blue .tab-content {
    background: #3498db;
}

.tab-content p {
    margin: 1em;
}

/* :checked */
input:checked ~ .tab-content {
    max-height: 150em;
}

.menu-item {
    color: white;
}

input:checked ~ label {
    background-color: #c50033 !important;
}

input:checked ~ label svg {
    transform: rotate(180deg);
}

.second-level label {
    padding-left: 30px !important;
    background: #E0E0E0;
    color: #424242;
}

.second-level input:checked ~ label {
    background-color: #BDBDBD !important;
}

.third-level label {
    padding-left: 45px !important;
    background: #EEEEEE;
    color: #616161;
}

.third-level input:checked ~ label {
    background-color: #E0E0E0 !important;
}

.fourth-level label {
    padding-left: 60px !important;
    background: #F5F5F5;
    color: #757575;
}

.fourth-level input:checked ~ label {
    background-color: #EEEEEE !important;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: transparent !important;
    border: none !important;
}

[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after {
    border: none;
}
.custom-sidebar {
    width: 300px;
    position: fixed;
    z-index: 999;
    overflow-y: auto;
    height: calc(100vh - 60px);
    top: 64px;
    left: 0;
    transition: all .4s;
    background-color: #eeeeee;
}

.custom-sidebar.show {
    left: 0px;
}

@media only screen and (max-width: 992px) {
    .custom-sidebar {
        left: -300px;
    }
}