<section class="index" fxLayout.gt-md="column" fxLayoutAlign.gt-md="center center">
  <div class="index-container"
    fxLayout="column"
    fxLayoutAlign="space-between center">
    <div class="index-description">
      <div class="index-title">
        <h1 class="block-title">MAKE REST API EASIER</h1>
      </div>
      <div class="index-text">
        <div class="block-text">Ngx-Restangular is a tailor made solution for any web application that get data from RESTful API.</div>
      </div>
    </div>
    <div class="index-btn ">
      <a class="index-btn__link btn" href="">GITHUB</a>
    </div>
    <div class="index-img">
      <svg class="index-img__item">
        <use xlink:href="/assets/img/svg/sprite.min.svg#bg-1"></use>
      </svg>
   </div>
  </div>
</section>