@import '../../../../styles/media.scss';

.index {
  width: 100%;
  min-height: 95vh;
  padding: rem(105px) 0 rem(19px) 0;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  //@include tablets {
  //  min-height: 75vh;
  //  padding: 0 rem(30px);
  //}
  //@include desktop {
  //  min-height: 70vh;
  //}
  &-container {
    position: relative;
    width: 100%;
    min-height: 73vh;
    margin: 0 auto;
    //@include tablets {
    //  min-height: 70vh;
    //  width: rem(609px);
    //  max-width: rem(609px);
    //  padding: 0;
    //}
    //@include desktop {
    //  width: rem(1236px);
    //  min-height: 100%;
    //  max-width: rem(1236px);
    //  margin: 0 auto;
    //  padding: 0;
    //}
  }
  &-title {
    padding: 0 5%;
    margin-bottom: rem(15px);

    //@include tablets {
    //  max-width: rem(600px);
    //  font-size: rem(48px);
    //  font-weight: 700;
    //  line-height: 60px;
    //  text-align: left;
    //  padding-left: 0;
    //  padding-right: rem(10px);
    //  margin-top: rem(-100px);
    //  margin-bottom: rem(50px);
    //}
    //@include desktop {
    //  max-width: rem(700px);
    //  font-size: rem(60px);
    //  font-weight: 700;
    //  line-height: 60px;
    //  text-align: left;
    //  padding: 0 rem(38px) 0 0;
    //  margin-bottom: rem(70px);
    //}
  }
  &-text {
    padding: 0 7%;
  }
  &-img {
    position: absolute;
    bottom: 35%;
    right: 17%;

    &__item {
      //position: absolute;
      //bottom: 15%;
      //left: 50%;
    }
  }
}