<section class="index"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutAlign.gt-md="center center">
  <div class="index-container"
    fxLayout="column"
    fxLayoutAlign="space-around center">
    <div class="index-description">
      <h1 class="index-title block-title">NGX-RESTANGULAR MAKE REST API EASIER</h1>
      <div class="index-text">
        Ngx-Restangular is a tailor made Angular solution for any web application that gets data from RESTful API.
      </div>
    </div>
    <div class="index-btn">
      <a class="index-btn__link btn" href="https://github.com/2muchcoffeecom/ngx-restangular/" target="_blank">GITHUB</a>
    </div>
    <div class="index-img">
       <app-ngx-svg></app-ngx-svg>
      <!--<img class="index-img__logo" src="/assets/img/svg/ngx-restangular-logo.svg" title="Illustration of ngx-restangular" alt="Photo of ngx_restangular_logo">-->
      <!--<img class="index-img__logo index-img__logo_ngx" src="/assets/img/svg/parallax-0.svg" alt="ngx-restangular-logo">-->
    </div>
    <div class="index-scroll">Scroll</div>
  </div>
</section>