<div class="container">
    <div class="card">
        <h2>How do I add this to my project in angular 2?</h2>
        <p>You can download this by:</p>
        <ul>
            <li>Using npm and running <code>npm install ng2-restangular</code></li>
        </ul>
    </div>


    <div class="card">
        <h2>How do I add this to my project in angular 4?</h2>
        <p>You can download this by:</p>
        <ul>
            <li>Using npm and running <code>npm install ng2-restangular@beta</code></li>
        </ul>
    </div>
</div>
