@import '../../../../styles/media.scss';

.footer {
  width: 100%;
  background-color: #ffffff;

  &-container {
    width: 90%;
    padding-top: rem(100px);
    padding-bottom: rem(36px);
    margin: 0 auto;
    @include tablets {
      width: rem(600px);
      max-width: rem(600px);
      padding: rem(43px) 0;
    }
    @include laptops {
      width: rem(700px);
      max-width: rem(700px);
      margin: 0 auto;
    }
    @include desktop {
      width: rem(1140px);
      max-width: rem(1140px);
      padding-top: rem(36px);
      padding-bottom: rem(80px);
    }
  }
  &-title {
    font-size: rem(24px);
    font-weight: 600;
    color: #000;
    text-align: center;
    letter-spacing: 1.2px;
    line-height: rem(29px);
    margin-bottom: rem(30px);
    @include tablets {
      font-size: rem(36px);
      letter-spacing: 1.7px;
      line-height: rem(47px);
      margin-bottom: rem(80px);
    }
    @include desktop {
      font-size: rem(48px);
      letter-spacing: 1.7px;
      line-height: rem(60px);
      margin-bottom: rem(130px);
    }
  }
  &-form {
    width: 100%;
    margin-bottom: rem(60px);
    @include desktop {
      margin-bottom: 0;
      width: 75%;
    }
  }
}

.form {
  width: 100%;
  &-row {
    width: 100%;
    @include desktop {
      margin-bottom: rem(60px);
      width: 90%;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__cell {
      cursor: pointer;
      position: relative;
      width: 100%;
      @include tablets {
        margin-left: rem(60px);
        flex: 1;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    &__input {
      width: 100%;
      padding: rem(10px) rem(40px) rem(3px) rem(10px);
      border: none;
      outline: none;
      border-radius: 0;
      font-family: Montserrat;
      font-size: rem(14px);
      font-weight: 300;
      line-height:rem(17px);
      color: #000;
      background-color: #fff;
      border-bottom: 1px solid $footer;
      margin-bottom: rem(30px);
      @include tablets {
        font-size: rem(16px);
        line-height:rem(20px);
        border-bottom: 2px solid $footer;
      }
      @include desktop {
        font-size: rem(18px);
        line-height:rem(22px);
      }
    }
    &__submit {
      border: none;
      cursor: pointer;
      margin-top: rem(30px);
    }
    &__alert {
      width: 100%;
      font-size: rem(14px);
      color: #fff;
      background-color: $footer;
      padding: rem(5px) rem(15px);
      cursor: default;
      position: absolute;
      top: rem(29px);
      left: 0;

      @include desktop {
        font-size: rem(18px);
        line-height:rem(22px);
        padding: rem(10px) rem(15px);
        top: rem(35px);
        left: 0;
      }
    }
  }
}