@import '../../../../styles/media.scss';

.footer {
  width: 100%;
  background-color: #ffffff;

  &-container {
    width: 90%;
    padding-top: rem(10px);
    padding-bottom: rem(36px);
    margin: 0 auto;
    @include tablets {
      width: rem(600px);
      max-width: rem(600px);
      padding: rem(43px) 0;
    }
    @include laptops {
      width: rem(700px);
      max-width: rem(700px);
      margin: 0 auto;
    }
    @include desktop {
      width: rem(1140px);
      max-width: rem(1140px);
      padding-top: rem(36px);
      padding-bottom: rem(80px);
    }
  }
  &-title {
    font-size: rem(24px);
    font-weight: 600;
    color: #000;
    text-align: center;
    letter-spacing: 1.2px;
    line-height: rem(29px);
    margin-bottom: rem(20px);
    @include tablets {
      font-size: rem(36px);
      letter-spacing: 1.7px;
      line-height: rem(47px);
      margin-bottom: rem(20px);
    }
    @include desktop {
      font-size: rem(48px);
      letter-spacing: 1.7px;
      line-height: rem(60px);
      margin-bottom: rem(40px);
    }
    @include laptopsHeight {
      margin-bottom: rem(40px);
    }
  }
  &-text {
    position: relative;
    margin-bottom: rem(60px);
    @include tablets {
      margin-bottom: rem(60px);
    }
    @include laptops {
      padding: 0 rem(18px);
    }
    @include desktop {
      padding: 0 200px;
      margin-bottom: rem(100px);
    }
    @include laptopsHeight {
      padding: 0 200px;
    }
  }
  &-notification {
    width: 100%;
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: rem(10px);
    color: $footer;
    text-align: center;
    @include vertical {
      bottom: -45%;
      font-size: rem(11px);
    }
    @include tablets {
      bottom: -50%;
      font-size: rem(14px);
    }
    @include desktop {
      bottom: -60%;
      font-size: rem(18px);
      padding: 0 17%;
    }
  }
  &-form {
    width: 100%;
    margin-bottom: rem(60px);
    @include desktop {
      margin-bottom: 0;
      width: 75%;
    }
  }
}

.form {
  width: 100%;
  &-row {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: rem(50px);
    &:last-child {
      margin-bottom: 0;
      margin-top: rem(30px);
    }
    @include desktop {
      margin-bottom: rem(90px);
      width: 90%;
    }
    &__cell {
      position: relative;
      min-height: rem(30px);
      width: 100%!important; // Feature to override inline-styles of Grammarly plugin for Browser's
      margin-bottom: rem(50px);
      overflow: inherit!important; // Feature to override inline-styles of Grammarly plugin for Browser's
      &.active {
        opacity: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      @include tablets {
        margin-left: rem(60px);
        flex: 1;
        &:first-child {
          margin-left: 0;
          margin-bottom: rem(0px);

        }
      }
      @include desktop {
        margin-bottom: rem(80px);
      }
    }
    &__label {
      width: 100%;
      margin-left: rem(10px);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      transform: translate(0, 25px);
      transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      opacity: 0.5;
      cursor: text;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: rem(14px);
      line-height: 17px;
      z-index: 5;
      @include desktop {
        top: -20px;
        font-size: rem(18px);
        transform: translate(0, 35px);
        line-height: 22px;
      }
    }
    &__input {
      width: 100%;
      border: none;
      outline: none;
      border-radius: 0;
      font-family: Montserrat;
      font-size: rem(14px);
      font-weight: 300;
      color: #000;
      border-bottom: 1px solid $footer;
      position: absolute;
      top: rem(10px);
      left: 0;
      bottom: 0;
      padding: rem(5px) rem(10px);
      padding-top: rem(18px);
      background: #fff;
      z-index: 5;
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
      }
      &:focus + .form-row__label {
        transform: translate(0, 0);
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      @include tablets {
        font-size: rem(16px);
        line-height:rem(20px);
        border-bottom: 2px solid $footer;
      }
      @include desktop {
        font-size: rem(18px);
        line-height: inherit;
        padding: rem(2px) rem(10px);
      }
      &-fake {
        display: block;
        width: auto;
        font-size: rem(14px);
        line-height: 1.2;
        background: transparent;
        white-space: pre-wrap;
        word-wrap: break-word;
        padding: 0 0 0 0;
        opacity: 0;
        margin-top: rem(15px);
        visibility: hidden;
        border-bottom: 1px solid $footer;

        &:after {
          content: '\00a0\00a0\00a0';
        }
        @include tablets {
          font-size: rem(16px);
        }
        @include desktop {
          margin-top: rem(20px);
          padding: 0 0 rem(5px) 0;
          font-size: rem(18px);
        }
      }
    }
    &__textarea {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 25px;
      resize: none;
      overflow: hidden;
      font-size: rem(14px);
      font-weight: 300;
      line-height: 1.2;
      margin: 0;
      z-index: 5;
      border: none;
      outline: none;
      border-radius: 0;
      border-bottom: 1px solid $footer;
      font-family: Montserrat;
      color: #000;
      margin-top: 20px;
      padding: 0 rem(10px) 0 rem(10px);

      &:focus + .form-row__label {
        transform: translate(0, 0);
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      @include tablets {
        border-bottom: 2px solid $footer;
        font-size: rem(16px);
      }
      @include desktop {
        padding: rem(12px) rem(10px);
        font-size: rem(18px);
        bottom: 25px;
      }
    }
    &__submit {
      border: none;
      cursor: pointer;
    }
    &__alert {
      width: 100%;
      font-size: rem(12px);
      color: red;
      padding: rem(5px) rem(13px);
      cursor: default;
      position: absolute;
      top: rem(55px);
      left: 0;
      @include tablets {
        top: rem(55px);
      }
      @include desktop {
        font-size: rem(18px);
        line-height:rem(22px);
        padding: rem(10px) rem(10px);
        top: rem(45px);
        left: 0;
      }
      &_position {
        @include desktop {
          top: rem(65px);
        }
      }
    }
  }
}