<footer class="footer">
  <div class="footer-container container"
    fxLayout="column"
    fxLayoutAlign="start center">
    <h3 class="footer-title" fxLayout="column" fxLayoutAlign="start center">
      Got project on mind?
    </h3>
    <div class="footer-form">
      <form #contactsForm="ngForm" (ngSubmit)="onSubmit(contactsForm)" class="form" id="form" fxLayout="column" fxLayoutAlign="start center">
        <div class="form-row"
          fxLayout="column"
          fxLayoutAlign="start center"
          fxLayout.gt-xs="row"
          fxLayoutAlign="center center">
          <label class="form-row__cell">
            <input class="form-row__input" name="name" placeholder="Your Name" type="text" required #name="ngModel" [(ngModel)]="dataInfo.name">
            <div class="form-row__alert" *ngIf="name.invalid && name.dirty">
              Name is required
            </div>
          </label>
          <label class="form-row__cell">
            <input class="form-row__input" name="email" placeholder="Your Email" type="email" required #email="ngModel" ngModel [email]="true" [(ngModel)]="dataInfo.email" >
            <div class="form-row__alert" *ngIf="email.invalid && email.dirty">
              <div *ngIf="email.errors.email">Email is required</div>
            </div>
          </label>
        </div>
        <div class="form-row" fxLayout="column" fxLayoutAlign="start center">
          <label class="form-row__cell">
            <input class="form-row__input" name="message" placeholder="Message your question" type="text" required #msg="ngModel" [(ngModel)]="dataInfo.text" >
            <div class="form-row__alert" *ngIf="msg.invalid && msg.dirty">
              Message is required
            </div>
          </label>
        </div>
        <div class="form-row" fxLayout="column" fxLayoutAlign="start center">
          <button [disabled]="!contactsForm.form.valid" class="form-row__submit btn" type="submit" form="form" value="submit" name="submit">Contact us</button>
        </div>
      </form>
    </div>
    <div class="footer-socials" fxHide="false"
      fxHide.gt-xs="true">
      <ul class="socials-list" fxLayout="row">
        <li class="socials-list__item" *ngFor="let footerSocialsItem of footerSocialsList">
          <a class="socials-list__link" href="">
            <svg class="socials-list__link-item"
              [class.socials-list__link-item_size]="footerSocialsItem.modifier"
              [class.socials-list__link-item_color]="footerSocialsItem.colorModifier">
              <use [attr.xlink:href]="[footerSocialsItem.imgPath]"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>


